"""
This file is part of the FLYonPIC_Eval.
Copyright 2024 FLYonPIC_Eval contributors

Distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

Authors: Brian Edward Marre
License: GPLv3+
"""

numpy >= 1.23.3
numba >=0.59.1
pydantic >= 2.3.0
typeguard >= 4.1.3
tqdm >= 4.66.1
matplotlib >= 3.6.2
matplotlib-label-lines >= 0.7.0

-r SCFlyTools/requirements.txt
